{#
Page - evaluation
invision:3.1 & 3.2
#}

{% extends 'layout.twig' %}

{% block content %}
<div class="container padding-block--base">

    <main class="relative">

        <!-- tips box -->
        {% include 'partials/tips.twig' %}

        <div class="bg--white padding-content">

            <!-- evaluation header -->
            <div class="evaluation-header display-flex align-items--center justify-content--space-between">

                <!-- user info -->
                <div class="user-header display-flex align-items--center">
                    <img src="./assets/img/icons/profil_small.svg" alt="welcome screen 1">
                    <div class="user-info">
                        <h1 class="font-size--sm">{{user.firstname}} {{user.lastname}}<br/> {{user.job}}</h1>
                    </div>
                </div>
                <!-- step by step -->
                <div class="evaluation-step display-flex align-items--center">
                    <h2 class="text-uppercase blue font-size--base font-weight--semibold">Auto-évaluation</h2>
                    <div class="step-wrapper display-flex align-items--center">
                        <div class="step-number active">
                            <span>1</span>
                        </div>
                        <div class="step-number">
                            <span>2</span>
                        </div>
                        <div class="step-number">
                            <span>3</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- title section -->
            <div class="section-title text-center padding-block--base">

                <img src="./assets/img/onboarding1.svg" alt="capacité relationnelles">
                <h3 class="font-size--base">Capacités relationnelles</h3>
                <p class="font-size--sm darkgray">Capacité à communiquer avec vos collègues,<br/> avec votre hiérarchie.</p>

            </div>

            <!-- evaluation table -->
            <div class="padding-block--md">
                <table class="evaluation-grid">
                    <thead>
                        <tr>
                            <th></th>
                            <th>NC</th>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    {% for capacity in capacities %}
                    <tr>
                        <td>{{capacity}}</td>
                        <td>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="radio-group-{{loop.index}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="radio-group-{{loop.index}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="radio-group-{{loop.index}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="radio-group-{{loop.index}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="radio-group-{{loop.index}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="padding-block--md text-center">
                <a class="btn btn-skilly btn--lg btn-rounded btn-blue font-weight--semibold" href="/skillyCareerFront/?p=evaluation-summary">Etape suivante</a>
            </div>

        </div>

    </main>

</div>


{% endblock %}
