{#
Page - evaluation summary
invision:4.1, 4.2, 4.3, 4.4, 4.4.1
#}

{% extends 'layout.twig' %}

{% block content %}
<div class="container padding-block--base padding-container-bottom">

    <main class="relative">

        <div class="bg--white padding-content">

            <!-- evaluation header -->
            <div class="evaluation-header display-flex align-items--center justify-content--space-between">

                <!-- user info -->
                <div class="user-header display-flex align-items--center">
                    <img src="./assets/img/icons/profil_small.svg" alt="welcome screen 1">
                    <div class="user-info">
                        <h1 class="font-size--sm">{{user.firstname}} {{user.lastname}}<br/> {{user.job}}</h1>
                    </div>
                </div>

            </div>

            <!-- title section -->
            <div class="section-title text-center padding-block--small">

                <h4 class="font-size--base font-weight--md">Votre auto-évaluation</h4>
                <!-- tips box -->
                {% include 'partials/tips.twig' %}

            </div>

            <div class="summary-content">

                <!-- capacité relationnelle collapse -->
                <div class="collapse-wrapper">
                    <div class="collapse-button">
                        <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#capacityRelation" aria-expanded="false" aria-controls="capacityRelation">
                            Capacités relationnelles
                        </a>
                    </div>
                    <div class="collapse clear-float" id="capacityRelation">

                        <!-- evaluation grid -->

                        <form action="" method="post">

                            <div class="custom-table evaluation-grid">

                                <div class="table-header">

                                    {% set levels = ['NC',0,1,2,3] %}
                                    <div class="table-cell-empty"></div>
                                    <div class="table-level">
                                        {% for level in levels %}

                                        <div class="table-cell">{{level}}</div>

                                        {% endfor %}
                                    </div>

                                </div>

                                <div class="table-body">

                                    {% set count = 0 %}

                                    <!-- loop capacities -->
                                    {% for capacity in capacities %}

                                    <div class="table-line">

                                        <div class="table-title">
                                            {{capacity[1]}}
                                        </div>
                                        <div class="table-answer">

                                            {% for i in 0..4 %}

                                            <div class="custom-radio">
                                                <span class="level-responsive">{{levels[i]}}</span>
                                                <label>
                                                    <input type="radio" name="radio-group-{{count}}" {% if capacity[2][i] %}checked {% endif %}>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="marker {% if capacity[2][i] %}checked{% endif %}">
                                                <span class="level-responsive">{{levels[i]}}</span>
                                                <span></span>
                                            </div>

                                            {% endfor %}

                                            {% set count = count +1 %}

                                        </div>

                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </form>

                        <div class="edit-evaluation">
                            <!-- edit btn -->
                            <button class="btn btn-reset btn-edit text-uppercase green font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/edit.svg" alt="edit button">
                                Corriger
                            </button>
                            <!-- validate btn -->
                            <button class="btn btn-green btn-validate text-uppercase font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/valider.svg" alt="edit button">
                                valider
                            </button>
                        </div>

                    </div>
                </div>

                <!-- capacité organisationnelles collapse -->
                <div class="collapse-wrapper">
                    <div class="collapse-button">
                        <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#capacityOrga" aria-expanded="false" aria-controls="capacityOrga">
                            Capacités organisationnelles
                        </a>
                    </div>
                    <div class="collapse clear-float" id="capacityOrga">
                        <div class="edit-evaluation">
                            <!-- edit btn -->
                            <button class="btn btn-reset btn-edit text-uppercase green font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/edit.svg" alt="edit button">
                                Corriger
                            </button>
                            <!-- validate btn -->
                            <button class="btn btn-green btn-validate text-uppercase font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/valider.svg" alt="edit button">
                                valider
                            </button>
                        </div>
                    </div>
                </div>

                <!-- compétences techniques -->
                <div class="collapse-wrapper">
                    <div class="collapse-button">
                        <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#compTech" aria-expanded="false" aria-controls="compTech">
                            Compétences techniques
                        </a>
                    </div>
                    <div class="collapse clear-float" id="compTech">
                        <div class="edit-evaluation">
                            <!-- edit btn -->
                            <button class="btn btn-reset btn-edit text-uppercase green font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/edit.svg" alt="edit button">
                                Corriger
                            </button>
                            <!-- validate btn -->
                            <button class="btn btn-green btn-validate text-uppercase font-weight--bold" type="button" name="button">
                                <img src="./assets/img/icons/valider.svg" alt="edit button">
                                valider
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- send button -->

            <div class="padding-block--md text-center send-block">
                <p class="font-size--base font-weight--md padding-block--small">Validez-vous votre auto-évaluation ?</p>
                <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-blue font-weight--semibold" type="button" name="button" id="sendBtn">Envoyer à mon manager</button>
            </div>

            <!-- send button validate -->
            <div class="padding-block--md text-center confirm-block">
                <p class="font-size--base font-weight--md padding-block--small">Confirmez-vous l’envoi à votre manager ?</p>
                <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" id="cancelBtn">non</button>
                <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" data-toggle="modal" data-target="#sendModal" id="validateBtn">oui</button>
            </div>

            <div class="padding-block--md text-center download-block">
                <a download="" class="btn btn-skilly btn-rounded font-weight--semibold btn-download">
                    <img src="./assets/img/icons/telecharger.svg" alt="close button">
                    Télécharger
                </a>
            </div>

        </div>

    </main>

</div>

<!-- send modal -->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="./assets/img/icons/close.svg" alt="close button">
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center padding-block--md">
                    <img src="./assets/img/icons/mail.svg" alt="mail icon">
                </div>
                <h4 class="font-size--base font-weight--normal text-center">Votre auto-évaluation a bien été envoyée à votre manager</h4>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($){

    // collapse background desktop version
    var collapseBtn = $('.collapse-button a');
    if ($(window).width() > 480) {

        collapseBtn.click(function() {
            $(this).parents('.collapse-wrapper').toggleClass('bg--verylightgray');
        });
    }

    // edit button toggle
    var editBtn=$('.btn-edit');

    editBtn.click(function() {
        $(this).toggle();
        $(this).parent().find('.btn-validate').toggle();
        $(this).parent().parent().find('.evaluation-grid').toggleClass('edit-mode');
    });

    // validate button toggle
    var validateBtn=$('.btn-validate');

    validateBtn.click(function() {
        $(this).toggle();
        $(this).parent().find('.btn-edit').toggle();
        $(this).parent().parent().find('.evaluation-grid').toggleClass('edit-mode');
    });

    // button send
    var sendBtn=$('#sendBtn');
    var sendBlock=$('.send-block');
    var confirmBlock=$('.confirm-block');

    sendBtn.click(function(){
        sendBlock.toggle();
        confirmBlock.toggle();
    });

    // cancel send
    var cancelBtn=$('#cancelBtn');

    cancelBtn.click(function(){
        confirmBlock.toggle();
        sendBlock.toggle();
    });

    //validate btn display upload btn
    var confirmBtn=$('#validateBtn');
    var downloadBlock=$('.download-block');

    confirmBtn.click(function(){
        confirmBlock.toggle();
        downloadBlock.toggle();
    });

    if ($(window).width() > 480 ) {

        // position helpers box
        function resizeHelper(){
    		var windowWidth = $(document).innerWidth();
    	    var contentWidth = $('.container').innerWidth();
    	    var position=(windowWidth-contentWidth)/2;

    	    $('#tipsBox').css('right',position-14);
    	    $('.tips-side').css('right',position-14);
    	}

        resizeHelper();

        $(window).on('resize', function(){
            resizeHelper();
        });

    }

});

</script>

{% endblock %}
