{#
Page - profil
invision:4.7
#}

{% extends 'layout.twig' %}

{% block content %}
<div class="container padding-block--base padding-container-bottom">

    <main>

        <div class="bg--white">

            {% include 'partials/profil-menu.twig' %}

            <div class="padding-content">
                <!--  header -->
                <div class="display-flex align-items--center justify-content--space-between">

                    <!-- user info -->
                    <div class="user-header display-flex align-items--center">
                        <img src="./assets/img/icons/profil_small.svg" alt="welcome screen 1">
                        <div class="user-info">
                            <h1 class="font-size--sm">{{user.firstname}} {{user.lastname}}<br/> {{user.job}}</h1>
                        </div>
                    </div>

                </div>

                <div class="padding-block--md">

                    <!-- title section favoris-->
                    <div class="section-title title-icon text-center padding-block--small">

                        <p class="font-size--base font-weight--md">
                            <img src="./assets/img/icons/favori_off.svg" alt="favoris title">
                            Mes favoris
                        </p>

                    </div>

                    <!-- evoluer group -->
                    <div class="profil-section">
                        <h2 class="text-left font-size--sm font-weight--semibold">Evoluer</h2>

                        <!-- loop evoluer -->
                        {% for ejob in ejobs %}

                        <div class="collapse-wrapper">
                            <div class="collapse-button">
                                <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#ejob{{loop.index}}" aria-expanded="false" aria-controls="capacityRelation">
                                    {{ejob[0]}}
                                    <p class="font-weight--normal">{{ejob[1]}}</p>
                                </a>
                                <button class="btn btn-icon btn-reset btn-delete" type="button" name="button">
                                    <img src="./assets/img/icons/croix.svg" alt="delete">
                                </button>
                            </div>
                            <div class="collapse job-detail" id="ejob{{loop.index}}">
                                <div class="job-container">
                                    <div class="job-header padding-block--small">
                                        <div class="job-info">
                                            <span class="green">Type de contrat</span>
                                            <span>CDI</span>
                                        </div>
                                        <div class="job-info">
                                            <span class="green">Temps de travail</span>
                                            <span>Temps complet</span>
                                        </div>
                                        <div class="job-info">
                                            <span class="green">Statut</span>
                                            <span>Ingénieur et cadre</span>
                                        </div>
                                    </div>
                                    <div class="job-description">
                                        <p class="green">Descripton de la mission</p>
                                        <div class="content-description">
                                            <p>Seul ou au sein d’une équipe d’encadrement, Vous assurez la gestion et l’organisation de votre chantier dans le respect des objectifs techniques, financiers et commerciaux.</p>
                                            <p>A ce titre, vous êtes en charge de :</p>
                                            <ul>
                                                <li>Préparer les travaux en participant à l’organisation et à la mise en place des moyens techniques, matériels et humains</li>
                                                <li>Consulter des fournisseurs et des sous-traitants</li>
                                                <li>Garantir la sécurité de vos équipes et la prévention sur les chantiers.</li>
                                                <li>Veiller au respect de l’enveloppe financière et contractuelle.</li>
                                                <li>Garantir la sécurité de vos équipes et la prévention sur les chantiers.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-block--md text-center send-manager">
                                    <p>Cette offre vous intéresse-t-elle ?</p>
                                    <div class="padding-block--small">
                                        <button type="button" name="button" class="btn btn-skilly btn--lg btn-blue btn-rounded font-weight--semibold" id="sendBtn">informer mon manager</button>
                                    </div>
                                </div>
                                <!-- send button validate -->
                                <div class="padding-block--md text-center confirm-block">
                                    <p class="font-size--base font-weight--md padding-block--small">Confirmez-vous l’envoi à votre manager ?</p>
                                    <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" id="cancelBtn">non</button>
                                    <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" id="validateBtn">oui</button>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>

                    <!-- bouger group -->
                    <div class="profil-section">
                        <h2 class="text-left font-size--sm font-weight--semibold">Bouger</h2>

                        <!-- loop bouger -->
                        {% for bjob in bjobs %}

                        <div class="collapse-wrapper">
                            <div class="collapse-button">
                                <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#bjob{{loop.index}}" aria-expanded="false" aria-controls="capacityRelation">
                                    {{bjob[0]}}
                                    <p class="font-weight--normal">{{bjob[1]}}</p>
                                </a>
                                <button class="btn btn-icon btn-reset btn-delete" type="button" name="button">
                                    <img src="./assets/img/icons/croix.svg" alt="delete">
                                </button>
                            </div>
                            <div class="collapse" id="bjob{{loop.index}}">

                            </div>
                        </div>

                        {% endfor %}

                    </div>

                    <!-- perfectionner group -->
                    <div class="profil-section">
                        <h2 class="text-left font-size--sm font-weight--semibold">Me perfectionner dans mon métier</h2>

                        <!-- loop perfectionner -->

                        {% for skill in skills %}

                        <div class="collapse-wrapper">
                            <div class="collapse-button">
                                <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#skill{{loop.index}}" aria-expanded="false" aria-controls="capacityRelation">
                                    <p class="font-weight--normal">{{skill[0]}}</p>
                                </a>
                                <button class="btn btn-icon btn-reset btn-delete" type="button" name="button">
                                    <img src="./assets/img/icons/croix.svg" alt="delete">
                                </button>
                                <span class="hours">
                                    {{skill[1]}}h
                                </div>
                            </div>
                            <div class="collapse" id="skill{{loop.index}}">

                            </div>

                        {% endfor %}

                    </div>

                </div>

                <div class="alert-section">

                    <!-- title section alertes-->

                    <div class="section-title title-icon text-center padding-block--base">

                        <p class="font-size--base font-weight--md">
                            <img src="./assets/img/icons/alertes.svg" alt="alertes title">
                            Mes alertes
                        </p>

                    </div>

                    <!-- loop alerts -->
                    {% for alert in alerts %}

                    <div class="alert-item">
                        <div class="area-wrapper font-size--sm">
                            <span class="green font-weight--semibold">Alerte {{alert[0]}}</span>
                            {{alert[1]}}
                        </div>
                        <button class="btn btn-icon btn-reset btn-delete" type="button" name="button">
                            <img src="./assets/img/icons/croix.svg" alt="delete">
                        </button>
                    </div>

                    {% endfor %}


                </div>

                <!-- create alert form -->
                <div class="alert-form bg--green">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <h3 class="white font-weight--bold text-uppercase font-size--sm">Créer une alerte</h3>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <p class="white font-size--xs"><i>Merci de remplir un ou plusieurs champs</i></p>
                            <form class="bg--green" action="index.html" method="post">
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Ville">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="region" placeholder="Région">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="country" placeholder="Pays">
                                </div>
                                <button class="btn btn-icon" type="button" name="button">
                                    <img src="./assets/img/icons/alerte_small.svg" alt="alert">
                                    Activer l'alerte
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <!-- title section tuteurs-->

                <div class="section-title title-icon text-center ">

                    <p class="font-size--base font-weight--md padding-block--md">
                        <img src="./assets/img/icons/tuteur.svg" alt="tuteurs title">
                        Devenir tuteur
                    </p>

                </div>

                <!-- devenir tuteur -->
                <div class="padding-block--small">
                    <div class="tutor-section no-border">
                        <div class="padding-block--small">
                            <p>Suite à votre évaluation vous avez été identifié comme tuteur potentiel sur des compétences.</p>
                            <p><strong>Souhaitez-vous devenir tuteur ?</strong></p>
                            <div class="survey-form">
                                <form action="" method="post">
                                    <div class="survey-question">
                                        <p class="question">
                                            <i class="fa fa-arrow-right"></i>
                                            Réaliser un ouvrage béton à partir de banches de hauteur standard
                                        </p>
                                        <div class="radio-group">
                                            <div class="radio-text">
                                                <input type="radio" id="no-1" name="q1" value="no">
                                                <label for="no-1">non</label>
                                            </div>
                                            <div class="radio-text">
                                                <input type="radio" id="yes-1" name="q1" value="yes">
                                                <label for="yes-1">oui</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="survey-question">
                                        <p class="question">
                                            <i class="fa fa-arrow-right"></i>
                                            Réaliser les coffrages traditionnels simple (bois)
                                        </p>
                                        <div class="radio-group">
                                            <div class="radio-text">
                                                <input type="radio" id="no-2" name="q2" value="no">
                                                <label for="no-2">non</label>
                                            </div>
                                            <div class="radio-text">
                                                <input type="radio" id="yes-2" name="q2" value="yes">
                                                <label for="yes-2">oui</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padding-block--base">
                                        <p class="text-center font-size--xs">Après validation, vous pouvez modifier vos choix dans votre page profil.</p>
                                    </div>
                                    <div class="text-center padding-block--sm">
                                        <button type="button" class="btn btn-skilly btn--lg btn-green btn-rounded font-weight--semibold" data-dismiss="modal">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

</div>
<script type="text/javascript">

jQuery(document).ready(function($){

    // collapse background
    var collapseBtn = $('.collapse-button a');

    collapseBtn.click(function() {
        $(this).parents('.collapse-wrapper').toggleClass('bg--verylightgray');
    });

});

</script>
{% endblock %}
