{#
Page - statistiques
invision:4.5 & 4.6
#}

{% extends 'layout.twig' %}

{% block content %}
<div class="container padding-block--base padding-container-bottom">

    <main class="relative">

        <div class="bg--white">

            <!-- sub-menu -->
            {% include 'partials/profil-menu.twig' %}

            <div class="padding-content">

                <!-- user info -->
                <div class="user-header display-flex align-items--center">
                    <img src="./assets/img/icons/profil_small.svg" alt="welcome screen">
                    <div class="user-info">
                        <h1 class="font-size--sm">{{user.firstname}} {{user.lastname}}<br/> {{user.job}}</h1>
                    </div>
                </div>

                <!-- devenir tuteur -->
                <div class="padding-block--md">
                    <div class="tutor-section">
                        <div class="section-title text-center padding-block--small">
                            <p class="font-size--base font-weight--md">
                                <img src="./assets/img/icons/tuteur.svg" alt="favoris title">
                                Devenir tuteur
                            </p>
                        </div>
                        <div class="padding-block--small">
                            <p>Suite à votre évaluation vous avez été identifié comme tuteur potentiel sur des compétences.</p>
                            <p><strong>Souhaitez-vous devenir tuteur ?</strong></p>
                            <div class="survey-form">
                                <form action="" method="post">
                                    <div class="survey-question">
                                        <p class="question">
                                            <img src="./assets/img/icons/fleche_green.svg" alt="graph demo">
                                            Réaliser un ouvrage béton à partir de banches de hauteur standard
                                        </p>
                                        <div class="radio-group">
                                            <div class="radio-text">
                                                <input type="radio" id="no-1" name="q1" value="no">
                                                <label for="no-1">non</label>
                                            </div>
                                            <div class="radio-text">
                                                <input type="radio" id="yes-1" name="q1" value="yes">
                                                <label for="yes-1">oui</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="survey-question">
                                        <p class="question">
                                            <img src="./assets/img/icons/fleche_green.svg" alt="graph demo">
                                            Réaliser les coffrages traditionnels simple (bois)
                                        </p>
                                        <div class="radio-group">
                                            <div class="radio-text">
                                                <input type="radio" id="no-2" name="q2" value="no">
                                                <label for="no-2">non</label>
                                            </div>
                                            <div class="radio-text">
                                                <input type="radio" id="yes-2" name="q2" value="yes">
                                                <label for="yes-2">oui</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padding-block--base">
                                        <p class="text-center font-size--xs">Après validation, vous pouvez modifier vos choix dans votre page profil.</p>
                                    </div>
                                    <div class="text-center padding-block--sm">
                                        <button type="button" class="btn btn-skilly btn--lg btn-green btn-rounded font-weight--semibold" data-dismiss="modal">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- section stats-->

                <div class="section-title text-center padding-block--small">
                    <h2 class="font-size--base font-weight--md">
                        Statistiques
                    </h2>
                </div>

                <div class="graph-content padding-block--small">
                    <img class="img-responsive" src="./assets/img/graph.png" alt="graph demo">
                </div>


                <!-- details evaluation -->
                <div class="section-title text-center padding-block--small relative">
                    <h2 class="font-size--base font-weight--md">
                        Détail de votre évaluation
                    </h2>
                    <!-- tips box -->
                    {% include 'partials/tips.twig' %}
                    <!-- legends -->
                    <div class="table-legends">
                        <div class="legend-item green-square">
                            Compétences maitrisées
                        </div>
                        <div class="legend-item orange-square">
                            Compétences à renforcer
                        </div>
                    </div>
                </div>


                <div class="summary-content summary-stats">

                    <!-- capacité relationnelle collapse -->
                    <div class="collapse-wrapper">
                        <div class="collapse-button">
                            <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#capacityRelation" aria-expanded="false" aria-controls="capacityRelation">
                                Capacités relationnelles
                            </a>
                            <div class="count-wrapper">
                                <div class="count-item green-square">
                                    <span>4</span>
                                </div>
                                <div class="label-responsive">Compétences maitrisées</div>

                                <div class="count-item orange-square">
                                    <span>1</span>
                                </div>
                                <div class="label-responsive">Compétences à renforcer</div>

                            </div>
                        </div>
                        <div class="collapse clear-float" id="capacityRelation">

                            <!-- evaluation grid -->

                            <div class="custom-table evaluation-grid">

                                <div class="table-header">

                                    {% set levels = ['NC',0,1,2,3] %}
                                    <div class="table-cell-empty"></div>
                                    <div class="table-level">
                                        {% for level in levels %}

                                        <div class="table-cell">{{level}}</div>

                                        {% endfor %}
                                    </div>

                                </div>

                                <div class="table-body">

                                    {% set count = 0 %}

                                    <!-- loop capacities -->
                                    {% for capacity in capacities %}

                                    <div class="table-line">

                                        <div class="table-title">
                                            {{capacity[1]}}
                                        </div>
                                        <div class="table-answer">

                                            {% for i in 0..4 %}

                                            <div class="marker {% if capacity[2][i] %}checked{% endif %}">
                                                <span></span>
                                                <span class="level-responsive">{{levels[i]}}</span>
                                            </div>

                                            {% endfor %}

                                            {% set count = count +1 %}

                                        </div>

                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- capacités organisationnelles -->
                    <div class="collapse-wrapper">
                        <div class="collapse-button">
                            <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#capacityOrga" aria-expanded="false" aria-controls="capacityOrga">
                                Capacités organisationnelles
                            </a>
                            <div class="count-wrapper">
                                <div class="count-item green-square">
                                    <span>4</span>
                                </div>
                                <div class="label-responsive">Compétences maitrisées</div>

                                <div class="count-item orange-square">
                                    <span>1</span>
                                </div>
                                <div class="label-responsive">Compétences à renforcer</div>

                            </div>
                        </div>
                        <div class="collapse clear-float" id="capacityOrga">

                        </div>

                    </div>

                    <!-- compétences techniques  -->
                    <div class="collapse-wrapper">
                        <div class="collapse-button">
                            <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#compTech" aria-expanded="false" aria-controls="compTech">
                                Compétences techniques
                            </a>
                            <div class="count-wrapper">
                                <div class="count-item green-square">
                                    <span>4</span>
                                </div>
                                <div class="label-responsive">Compétences maitrisées</div>

                                <div class="count-item orange-square">
                                    <span>1</span>
                                </div>
                                <div class="label-responsive">Compétences à renforcer</div>

                            </div>
                        </div>
                        <div class="collapse clear-float" id="compTech">

                        </div>

                    </div>

                </div>

                <div class="padding-block--md text-center">
                    <a download="" class="btn btn-skilly btn-rounded font-weight--semibold btn-download">
                        <img src="./assets/img/icons/telecharger.svg" alt="close button">
                        Télécharger
                    </a>
                </div>

            </div>

        </div>

    </main>

</div>

<script type="text/javascript">
jQuery(document).ready(function($){

    if ($(window).width() > 480) {

        // collapse background
        var collapseBtn = $('.collapse-button a');

        collapseBtn.click(function() {
            $(this).parents('.collapse-wrapper').toggleClass('bg--verylightgray');
        });

    };

});

</script>

{% endblock %}
